
.signIn {
    background-image: url("https://t4.ftcdn.net/jpg/06/55/50/69/240_F_655506911_1p13PsGKM93SuCePkLUcd75TW1Bzu4jg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.loginForm{
    background-color: #ffffff4d;
    padding: 30px;
    border: 1px solid rgb(82, 76, 76);
    border-radius: 1px;
}

.loginForm2{
    background-color: #ffffff4d;
    padding: 20px;
    margin-top: 5px ;
    border: 1px solid rgb(82, 76, 76);
    border-radius: 1px;

}

#login-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}